* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    background-color: #f1f1f1;
    font-style: normal;
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5 !important;
}

a {
    color: #686868;
    text-decoration: none;
    transition: border-color 0.2s ease;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.centered {
    margin: 0 auto;
    max-width: 1024px;
}

.page_centered {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 56px - 56px - 2em);
    align-items: center;
    justify-content: center;
}

#header {
    height: 56px;
    line-height: 56px;
    vertical-align: middle;
    font-size: 16px;
    position: relative;
}

#top_bar {
    z-index: 999;
}

#top_bar a {
    border: 0px;
    display: block;
}

#top_bar h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

#top_bar li {
    float: left;
    height: 56px;
    padding: 0 1.5em 0 0;
    list-style-type: none;
    display: inline-block;
}

#top_bar .right {
    float: right;
    height: 56px;
    padding: 0 0 0 1.5em;
}

#top_bar .pushbutton {
    height: 40px;
    line-height: 40px;
    padding: 0 1.5em 0 1.5em;
    margin: 8px 0 8px 0;
    color: #fefefe;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.145);
}

#content_container {
    padding: 1em 0 1em 0;
    min-height: calc(100% - 56px - 56px);
    background-color: #fefefe;
}

#footer {
    height: 56px;
    line-height: 56px;
    vertical-align: middle;
    text-align: center;
}

#message_container {
    text-align: center;
    font-size: 16px;
    display: flex;
}

#sign_in a {
    text-decoration: none;
    background-color: #3cb371;
}

#sign_in a:hover {
    background-color: #2ba260;
}

#sign_out a {
    text-decoration: none;
    background-color: #ee6363;
}

#sign_out a:hover {
    background-color: #dd5252;
}

#avatar {
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: block;
    margin: 8px -1em 8px 0;
    padding: 0;
}

