* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    background-color: #f1f1f1;
    font-style: normal;
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5 !important;
}

a {
    color: #686868;
    text-decoration: none;
    transition: border-color 0.2s ease;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 36px;
}

.centered {
    margin: 0 auto;
    max-width: 1024px;
}

#header {
    height: 56px;
    line-height: 56px;
    vertical-align: middle;
    font-size: 16px;
    position: relative;
}

#top_bar {
    z-index: 999;
}

#top_bar a {
    border: 0px;
    display: block;
}

#top_bar h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

#top_bar li {
    float: left;
    height: 56px;
    padding: 0 1.5em 0 0;
    list-style-type: none;
    display: inline-block;
}

#top_bar .right {
    float: right;
    height: 56px;
    padding: 0 0 0 1.5em;
}

#top_bar .pushbutton {
    height: 40px;
    line-height: 40px;
    padding: 0 1.5em 0 1.5em;
    margin: 8px 0 8px 0;
    color: #fefefe;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.145);
}

#center {
    min-height: calc(100% - 56px - 56px);
    background-color: #fefefe;
}

#content {
    padding: 1em 0 1em 0;
}

#footer {
    height: 56px;
    line-height: 56px;
    vertical-align: middle;
    text-align: center;
}

#not_found {
    text-align: center;
    font-size: 16px;
}

#forbidden {
    text-align: center;
    font-size: 16px;
}

#sign_in a {
    text-decoration: none;
    background-color: #3cb371;
}

#sign_in a:hover {
    background-color: #2ba260;
}

#sign_out a {
    text-decoration: none;
    background-color: #ee6363;
}

#sign_out a:hover {
    background-color: #dd5252;
}

#avatar {
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: block;
    margin: 8px -1em 8px 0;
    padding: 0;
}

#auth {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 56px - 56px);
    align-items: center;
    justify-content: center; 
}

#auth_form {
    display: block;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 20px;
    width: 340px;
    background-color: #f1f1f1;
}

#auth_form * {
    display: block;
    padding: 0;
    width: 100%;
}

#auth_form input {
    padding: 0 1em;
    margin: 5px 0 15px 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    min-height: 34px;
    line-height: 34px;
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: arial, helvetica, sans-serif;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

#auth_form input:active {
    border: 1px solid #33ffff;
}

#auth_form input:focus {
    border: 1px solid #33ffff;
}

#auth_form .pushbutton {
    padding: 0;
    border: none;
    color: #fefefe;
    background-color: #3cb371;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.145);
    cursor: pointer;
}

#auth_form .pushbutton:hover {
    background-color: #2ba260;
}

#auth_form .pushbutton:active {
    border: none;
}

#auth_form .pushbutton:focus {
    border: none;
}

#auth_error {
    padding: 10px 20px;
    color: #991111;
    background-color: #fcdede;
    border: 1px solid #d2b2b2;
    border-radius: 5px;
    margin-bottom: 10px;
    word-break: break-all;
    width: 340px;
}

#auth_error div {
    display: table-cell;
    vertical-align: middle;
}

#auth_error_label {
    font-size: 12px;
    text-align: left;
    width: 95%;
}

#close_auth_error {
    color: #cc4444;
    font-size: 18px;
    text-align: right;
    cursor: pointer;
    margin: 5px;
    width: 5%;
}

#close_auth_error:hover {
    color: #991111;
}

#content_navigator {
    margin: 0 0 14px 0;
}

#projects_table_container a {
    outline: none;
    cursor: pointer;
}

#projects_table_container li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    white-space: nowrap;
}

#projects_table_container .table_item {
    margin: 5px 0;
    padding: 10px 0;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

#projects_table_container .passed {
    color: #2ba260;
}

#projects_table_container .failed {
    color: #dd5252;
}

#projects_table_container .started {
    color: #cca300;
}

#projects_table_container .last_status {
    padding-left: 20px;
    min-width: 20px;
}

#projects_table_container .project_name {
    width: 100%;
}

#projects_table_container .builds_number {
    color: #686868;
    white-space: nowrap;
    min-width: 70px;
}

#projects_table_container .last_version {
    white-space: nowrap;
    padding-right: 20px;
    min-width: 70px;
}

#projects_table_container .last_timestamp {
    white-space: nowrap;
    min-width: 150px;
}

#projects_table_container .role {
    text-align: right;
    color: #686868;
    white-space: nowrap;
    padding-right: 20px;
    min-width: 100px;
}

#show_more {
    display: block;
    text-align: center;
    background-color: #f1f1f1;
}

#show_more:hover {
    text-decoration: none;
    background-color: #e1e1e1;
}

