#content_header_container {
    margin: 0 0 14px 0;
}

#content_header_container h1 {
    font-size: 26px;
}

#projects_table_container a {
    outline: none;
    cursor: pointer;
}

#projects_table_container li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: content-box;
}

#projects_table_container .table_item {
    margin: 5px 0;
    padding: 10px 0;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

#projects_table_container .passed {
    color: #2ba260;
}

#projects_table_container .failed {
    color: #dd5252;
}

#projects_table_container .started {
    color: #cca300;
}

#projects_table_container .last_status {
    padding-left: 20px;
    min-width: 20px;
}

#projects_table_container .project_name {
    width: 100%;
}

#projects_table_container .builds_number {
    color: #686868;
    white-space: nowrap;
    padding-right: 20px;
}

#projects_table_container .last_version {
    white-space: nowrap;
    padding-right: 20px;
    min-width: 70px;
}

#projects_table_container .last_timestamp {
    white-space: nowrap;
    padding-right: 20px;
}

#projects_table_container .role {
    text-align: right;
    color: #686868;
    white-space: nowrap;
    padding-right: 20px;
}

#projects_table_container #show_more {
    display: block;
    text-align: center;
    background-color: #f1f1f1;
}

#projects_table_container #show_more:hover {
    text-decoration: none;
    background-color: #e1e1e1;
}

