body {
	margin:0px;
	padding:0px;
	color:#000000;
	background-color:#caced1;
/* 	background-color:#ffffff; */
	font: 12px sans-serif;
}

#mainText {
	margin:0 2% 0 2%;
}

#statText {
	margin:0 10% 0 10%;
}

#foot {
	text-align:center;
	font: 10px sans-serif;
}

a {
	text-decoration:none;
	color:#3179ac;
	font-weight:bold;
}

a:hover {
	color:grey;
	text-decoration: underline;
}

ul {
	list-style:none;
}

*{
	margin: 0px;
}

.color { background-color: #aaaaaa; }

